#Home {
  display: grid;
  grid-template-areas: 
  "Header Header Header"
  "Aside Main Main";
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}